# Required
OPENROUTER_API_KEY="sk-or-v1-your-key-here"
DATABASE_URL="postgresql://user:password@localhost:5432/fitwise"
BETTER_AUTH_SECRET="generate-a-random-secret-key-here"

# Optional (with defaults)
CHAT_MODEL="qwen/qwen-2.5-7b-instruct:free"
EMBEDDING_MODEL="openai/text-embedding-ada-002"
QDRANT_URL="http://localhost:6333"
QDRANT_API_KEY="" # Optional: Required for Qdrant Cloud, not needed for local Docker
BETTER_AUTH_URL="http://localhost:5173"

OPIK_API_KEY=""
OPIK_URL_OVERRIDE=https://www.comet.com/opik/api
OPIK_PROJECT_NAME=""
OPIK_WORKSPACE=""